.App {
  max-width: 850px;
  margin: 0 auto;
}

body {
  background: #f3f1f2;
}

a {
  color: #6acce4;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App h1 {
  font-size: 60px;
  line-height: 90px;
  text-align: center;
  font-family: "Bricolage Grotesque", sans-serif;
}
